<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header-css"></head>
<body>
<div th:replace="header :: header"/>


<div class="container">
    <table class="table table-hover">
        <form th:action="@{/quiz/startQuiz}" th:object="${question}" method="post">
            <tr>
                <td>
                    <p class="quiz-question" th:text="*{questionText}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="quiz-answer"><input class="radio-quiz" type="radio" th:name="answer" th:value="A" th:text="*{A}"></p>
                </td>
            </tr>
            </tr>
            <tr>
                <td>
                    <p class="quiz-answer"><input class="radio-quiz" type="radio" th:name="answer" th:value="B" th:text="*{B}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="quiz-answer"><input class="radio-quiz" type="radio" th:name="answer" th:value="C" th:text="*{C}">
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="quiz-answer"><input class="radio-quiz" type="radio" th:name="answer" th:value="D" th:text="*{D}">
                    </p></td>
            </tr>
            <input type="hidden" th:name="correct" th:value="*{correct}">
            <input type="hidden" th:name="quizId" th:value="${quiz.id}">
            <input type="hidden" th:name="questionId" th:value="${question.id}">
            <tr>
                <td>
                    <p><input type="submit"></p>
                </td>
            </tr>
        </form>
    </table>
</div>


</body>
</html>