<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header-css"></head>
<body>
<div th:replace="header :: header"></div>

<div th:replace="userAdminPanel :: sidenav"></div>


<div class="container" th:if="${completedQuiz == null }">
    <div class="container" th:if="${quiz == null }">
        <form th:action="@{/quiz/saveQuiz}" method="post">

            <p>
                <a>Podaj nazwę Quizu: </a>
                <a><input type="text" name="quizName"></a>
            </p>

            <p>
                <a>Wybierz kategorię: </a>
                <a><select name="category">
                    <option th:each="category : ${categoriesList}" th:value="${category.category_name}"
                            th:text="${category.category_name}"/>
                </select></a>
            </p>

            <p><input type="submit" value="Zapisz Quiz"></p>
        </form>
    </div>
    <div class="container" th:if="${quiz != null }">
        <p th:text="${quiz.quizName}"></p>

        <form class="addQuestion" th:action="@{/quiz/saveQuestionToQuiz}" method="post" th:object="${question}">
            <input hidden name="quizId" th:value="${quiz.id}">
            <p>Podaj treść pytania <textarea rows="5" cols="30" name="questionText" placeholder="Podaj treść pytania"
                                             th:field="*{questionText}">
        </textarea></p>
            <p>Odpowiedź A <input type="text" placeholder="Odpowiedz A" name="answerA" th:field="*{a}"></p>
            <p>Odpowiedź B <input type="text" placeholder="Odpowiedz B" name="answerB" th:field="*{b}"></p>
            <p>Odpowiedź C <input type="text" placeholder="Odpowiedz C" name="answerC" th:field="*{c}"></p>
            <p>Odpowiedź D <input type="text" placeholder="Odpowiedz D" name="answerD" th:field="*{d}"></p>
            <p>Poprawna odpowiedź<select th:field="*{correct}">
                <option th:value="A" th:text="A"></option>
                <option th:value="B" th:text="B"></option>
                <option th:value="C" th:text="C"></option>
                <option th:value="D" th:text="D"></option>
            </select>>
            </p>
            <p><input type="submit" value="Zapisz pytanie"></p>
        </form>
        <form th:action="@{/quiz/quizCompleted}" method="post">
            <p><input type="submit" value="Zapisz Quiz"></p>
            <input hidden name="quizId" th:value="${quiz.id}">
        </form>
    </div>
</div>
<div class="container" th:if="${completedQuiz != null }">
    <table>
        <thead>
        <th>Question ID</th>
        <th>Question text</th>
        <th>Answer A</th>
        <th>Answer B</th>
        <th>Answer C</th>
        <th>Answer D</th>
        <th>Correct answer</th>
        </thead>

        <tr th:each="question: ${completedQuiz.getQuestionsList()}">
            <td th:text="${question.id}"/>
            <td th:text="${question.questionText}"/>
            <td th:text="${question.a}"/>
            <td th:text="${question.b}"/>
            <td th:text="${question.c}"/>
            <td th:text="${question.d}"/>
            <td th:text="${question.correct}"/>

        </tr>
    </table>
</div>

</body>
</html>