<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header-css"></head>
<body>
<div th:replace="header :: header"/>
<div class="container">
    <table class="table">
        <tr>
            <td>
                <a> Login</a>
            </td>
            <td>
                <a th:text="${user.login}"></a>
            </td>
            <td>
               <a> Edytuj </a>
            </td>
        </tr>
        <tr>
            <td>
                <a> Imię</a>
            </td>
            <td>
                <a th:text="${user.name}"></a>
            </td>
            <td>
                <a> Edytuj </a>
            </td>
        </tr>
        <tr>
            <td>
                <a>Nazwisko</a>
            </td>
            <td>
                <a th:text="${user.surname}"></a>
            </td>
            <td>
                <a> Edytuj </a>
            </td>
        </tr>
        <tr>
            <td>
                <a>Email</a>
            </td>
            <td>
                <a th:text="${user.email}"></a>
            </td>
            <td>
                <a> Edytuj </a>
            </td>
        </tr>

    </table>
</div>

</body>
</html>