<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header-css"></head>
<body>
<div th:replace="header :: header"/>

<div class="sidenav" th:fragment="sidenav">
    <div id="menuSide"  >
        <a>Quizy</a>
        <ul id="listSide">
            <li>
                <a class="dropdownItem" th:href="@{/quiz/createQuiz}">Dodaj</a>
            </li>
            <li>
                <a class="dropdownItem" th:href="@{/quiz/listQuiz}">Zarządzaj</a></li>
            <li>
                <a class="dropdownItem" th:href="@{/quiz/listQuiz}">Szukaj</a></li>
        </ul>
    </div>
    <div id="menuSide"  >
        <a> Materiały wideo</a>
        <ul id="listSide">
            <li>
                <a class="dropdownItem" th:href="@{/video/addVideo}">Dodaj</a>
            </li>
            <li>
                <a class="dropdownItem" th:href="@{/quiz/listQuiz}">Zarządzaj</a></li>
            <li>
                <a class="dropdownItem" th:href="@{/quiz/listQuiz}">Szukaj</a></li>
        </ul>
    </div>
    <div id="menuSide"  >
        <a>Artykuły</a>
        <ul id="listSide">
            <li>
                <a class="dropdownItem" th:href="@{/quiz/listQuiz}">Dodaj</a>
            </li>
            <li>
                <a class="dropdownItem" th:href="@{/quiz/listQuiz}">Zarządzaj</a></li>
            <li>
                <a class="dropdownItem" th:href="@{/quiz/listQuiz}">Szukaj</a></li>
        </ul>
    </div>
    <div id="menuSide"  >
        <a>Użytkownicy</a>
        <ul id="listSide">
            <li>
                <a class="dropdownItem" th:href="@{/quiz/listQuiz}">Dodaj</a>
            </li>
            <li>
                <a class="dropdownItem" th:href="@{/quiz/listQuiz}">Zarządzaj</a></li>
            <li>
                <a class="dropdownItem" th:href="@{/quiz/listQuiz}">Szukaj</a></li>
        </ul>
    </div>


</div>


</body>
</html>