<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org">
<head th:replace="header :: header-css"></head>
<body>
<div th:replace="header :: header"/>
<div class="form-custom">
    <form th:action="@{/login}" method="post">

            <h1>Zaloguj się</h1>
            <div th:if="${param.error}">
                <div>
                    Nieprawidłowa nazwa użytkownika lub hasło.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    Zostałeś wylogowany!
                </div>
            </div>
            <div class="form-input">
                <input type="text" name="username"
                       placeholder="Nazwa użytkownika" required="true" autofocus="true"/>
            </div>
            <div class="form-input">
                <input type="password" name="password" id="password"
                       placeholder="Hasło" required="true"/>
            </div>
            <div class="form-input">
                <input type="submit" value="Zaloguj"/>
            </div>

    </form>
</div>

</body>
</html>